
body{
	background-image: url('../img/redes.jpg');
    background-size: cover;
    
}

input[type="text"], input[type="password"]   {
    width: 97%;
    height: 25px;
    margin: 0 0 15px;
    padding: 10px 1%;
    font-size: 18px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

input[type="submit"] {
    display: inline-block;
    background: #2394D5;
    padding: 5px 15px;
    color: #fff;
    border: 0 none;
    font-size: 18px;
    cursor: pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}


.main input[type="text"], .main input[type="password"] {
	text-align: center;
    border:0;
    height: 40px;
    
}

.main input[type="submit"] {
    width: 99%;
    margin: 0 auto;
    padding: 10px 0;    
}

.main{
    width: 30%;
    background-color: rgba(255,255,255,.4);
    text-align: center;
	border-radius: 5px;
	margin: 17% auto 0 auto;
	padding: 3%;
    position: relative;
}

